html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Colores personalizados para operaciones aritméticas */
.btn-suma {
  background-color: #28a745 !important; /* verde */
  color: white !important;
}
.btn-resta {
  background-color: #dc3545 !important; /* rojo */
  color: white !important;
}
.btn-multi {
  background-color: #ffc107 !important; /* amarillo */
  color: black !important;
}
.btn-div {
  background-color: #17a2b8 !important; /* celeste */
  color: white !important;
}